.testimonials-container {
  max-width: 100%;
  padding: 20px;
  font-family: sans-serif;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f9f9f9; /* Added background color */
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center; /* Centered content in grid */
}

@media (min-width: 768px) {
  .testimonial-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.testimonial-image-container {
  position: relative;
  height: 80vh;
  overflow: hidden;
  border-radius: 10px; /* Rounded corners for images */
}

.testimonial-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.5s ease-in-out; /* Smooth scaling */
}

.testimonial-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: -40px; /* Ensure text container is on top of image */
  padding-bottom: 30px;
}

.testimonial-name {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.testimonial-designation {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

.testimonial-quote {
  font-size: 18px;
  color: #555;
  margin-top: 16px;
  line-height: 1.5;
}

.quote-word {
  display: inline-block;
}

.testimonial-navigation-buttons {
  display: flex;
  gap: 16px;
  padding-top: 20px;
}

.testimonial-nav-button {
  height: 40px;
  width: 40px;
  background-color: #f1f1f1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, background-color 0.3s;
}

.testimonial-nav-button:hover {
  background-color: #ddd;
}

.icon {
  height: 24px;
  width: 24px;
  color: #333;
}

.testimonial-nav-button:hover .icon {
  transform: rotate(12deg);
}

.testimonial-nav-button:nth-child(2):hover .icon {
  transform: rotate(-12deg);
}
