.testimonials-container {
    max-width: 100%;
    padding: 20px;
    font-family: sans-serif;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .testimonial-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  @media (min-width: 768px) {
    .testimonial-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .testimonial-image-container {
    position: relative;
    height: 80vh; /* Set height to a reasonable value */
    overflow: hidden;
  }
  
  .testimonial-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    object-fit: cover;
    border-radius: 15px;
  }
  
  .testimonial-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
  }
  
  .testimonial-name {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  .testimonial-designation {
    font-size: 14px;
    color: #777;
  }
  
  .testimonial-quote {
    font-size: 18px;
    color: #555;
    margin-top: 16px;
  }
  
  .quote-word {
    display: inline-block;
  }
  
  .testimonial-navigation-buttons {
    display: flex;
    gap: 16px;
    padding-top: 20px;
  }
  
  .testimonial-nav-button {
    height: 40px;
    width: 40px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .testimonial-nav-button:hover {
    background-color: #ddd;
  }
  
  .icon {
    height: 24px;
    width: 24px;
    color: #333;
  }
  
  .testimonial-nav-button:hover .icon {
    transform: rotate(12deg);
  }
  
  .testimonial-nav-button:nth-child(2):hover .icon {
    transform: rotate(-12deg);
  }
  