/* General Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  font-family: "Playfair Display", serif; /* Royal serif font */
  color: #f5f5f5;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-section {
  display: flex;
  align-items: center;
}

/* Search Bar */
.searchbar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding: 5px 15px;
}

.search-input {
  background: transparent;
  border: none;
  color: #f5f5f5;
  font-size: 1rem;
  outline: none;
  margin-right: 10px;
  width: 200px;
  padding: 8px;
  font-family: "Playfair Display", serif;
}

.searchbar img {
  width: 24px;
  height: auto;
  cursor: pointer;
}

/* Logo */
.logo .brand-name {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f5f5f5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  flex-grow: 1;
  font-family: "Playfair Display", serif;
}

/* Account and Cart */
.account-cart {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.account, .cart {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.account:hover, .cart:hover {
  transform: scale(1.1);
  color: #ffd700; /* Royal gold on hover */
}

.icon {
  width: 28px;
  height: 28px;
}

h3.acc-h3 {
  font-size: 1.1rem;
  color: #000000;
  font-weight: 600;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
  }

  .navbar-section {
    margin-bottom: 1rem;
  }

  .brand-name {
    font-size: 2rem;
  }

  .account-cart {
    gap: 1rem;
  }

  .searchbar {
    margin-bottom: 1rem;
    width: 100%;
    justify-content: center;
  }

  .search-input {
    width: 150px;
  }
}
